@import '_variables';

body {
    background: $tertiaryColor;
}

#totals.innerBox {
    border: solid;
    border-color: $primaryColor;
}

.itemDisplay {
    border: solid;
    border-color: $secondaryColor;
    color: $primaryColor;
}